.content {
  font-size: var(--font-s);
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.3px;
}
.content h2,
.content h3,
.content h4,
.content a {
  color: var(--tertiary);
}
.content h2 {
  font-size: var(--font-l);
  margin: var(--spacing-unit-x3) 0;
}
.content h3 {
  font-size: var(--font-m);
  margin: var(--spacing-unit-x2) 0;
}
.content picture {
  width: fit-content;
  margin: var(--spacing-unit-x3) auto;
  display: block;
}
.content ul {
  padding: var(--spacing-unit-x2) var(--spacing-unit);
}
.content code {
  color: var(--tertiary);
  font-size: var(--font-xs);
}
.content .note {
  padding: var(--spacing-unit-x3);
  border-left: 4px solid var(--secondary);
  margin: var(--spacing-unit-x2) 0;
  background-color: var(--primary-alter);
}
.content b {
  color: var(--secondary);
}

/*----Code----*/
.code {
  width: 90%;
  max-width: 700px;
  height: 269px;
  margin: var(--spacing-unit-x3) auto;
}
.buttons-container {
  width: fit-content;
  border: 1px solid var(--tertiary);
  display: flex;
}
.buttons-container .code__button:last-child {
  border-left: 1px solid var(--tertiary);
}
.code__button {
  width: min-content;
  padding: var(--spacing-unit) var(--spacing-unit-x2);
  border: none;
  color: var(--tertiary);
  background-color: transparent;
}
.code__button--active {
  background-color: var(--tertiary);
  color: var(--primary);
}
.code-container {
  width: auto;
  height: 100%;
}
.code__element {
  display: none;
}
.code__element--active {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  width: auto;
  height: 234px;
  padding: var(--spacing-unit-x2);
  border-radius: 0px 8px 8px 8px;
  display: block;
  line-height: 20px;
  background-color: #282a36;
  overflow: auto;
  scrollbar-color: var(--secondary-alter) var(--primary-alter);
  scrollbar-width: 12px;
}
.code__element--active::-webkit-scrollbar {
  width: 12px;
  padding: 8px;
}
.code__element--active::-webkit-scrollbar-track {
  background-color: #282a36;
  border-radius: 8px;
}
.code__element--active::-webkit-scrollbar-thumb {
  border: 4px solid #282a36;
  border-radius: 8px;
  margin: 8px;
  background-color: var(--tertiary);
  cursor: pointer;
}
.code__element--active::-webkit-scrollbar-corner {
  display: none;
}
.code__element .tab {
  display: inline-block;
  width: var(--spacing-unit-x2);
  height: 12px;
}
.code__element .comment {
  color: #6272a4;
}
.code-line {
  display: block;
  width: max-content;
  font-size: var(--font-xs);
  word-spacing: 4px;
  /* letter-spacing: 0.6px; */
}
.code-html .code-tag {
  padding: 0;
}
.code-html .code-tag,
.code__element .sign,
.code-javascript .keyword {
  color: #ff79c6;
}
.code-html .attribute,
.code-javascript .method {
  color: #50fa7b;
}
.code__element .string,
.code__element .af {
  color: #ffb86c;
}
.code__element--active span {
  letter-spacing: 1.5px;
}
.code-html .value,
.code-javascript .other {
  color: #f8f8f2;
}
.code-javascript .constant,
.code-javascript .variable,
.code-javascript .bool,
.code-javascript .number {
  color: #bd93f9;
}
.code-javascript .wrapper,
.code-javascript .spread {
  color: #ff5555;
}
.code-javascript .method-2,
.code-javascript .wrapper-2,
.code-javascript .property {
  color: #8be9fd;
}

.example {
  width: 100%;
  max-width: 400px;
  margin: var(--spacing-unit-x4) auto;
}

.example div, 
.example a,
.example span {
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid var(--tertiary);
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--tertiary);
  cursor: pointer;
}
.example .top-node {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 200px;
  z-index: 1;
}
.example .mid-node {
  position: absolute;
  top: 50px;
  width: 250px;
  height: 100px;
  margin: auto;
  z-index: 2;
}
.example .bottom-node {
  position: absolute;
  top: 25px;
  display: block;
  width: 150px;
  height: 50px;
  padding: 5px;
  padding-bottom: 10px;
  margin: auto;
  text-decoration: underline;
  z-index: 2;
}
/*----Use-cases----*/
#use-case-1,
#use-case-2 {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: var(--spacing-unit-x3);
  border: 2px solid var(--tertiary);
  margin: var(--spacing-unit-x3) auto;
}

#use-case-1 ul,
#use-case-2 ul {
  height: 100%;
  padding: 20px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#use-case-1 li,
#use-case-2 li {
  width: 90%;
  height: 44px;
  padding: 0 20px;
  border: 2px solid var(--tertiary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#use-case-1 button,
#use-case-2 button {
  width: 50px;
  height: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#use-case-1 .list--check span,
#use-case-2 .list--check span {
  text-decoration: line-through;
  color: red;
}


#use-case-3,
#use-case-4 {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 200px;
  padding: var(--spacing-unit-x2);
  border: 2px solid var(--tertiary);
  margin: var(--spacing-unit-x3) auto;
  display: grid;
  place-items: center;
  text-align: center;
  
}
#use-case-3 button,
#use-case-4 button {
  width: 88px;
  height: 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
#use-case-3 div,
#use-case-4 div {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* display: grid; */
}
#use-case-3 .active-div,
#use-case-4 .active-div {
  display: grid;
  place-items: center;
  background-color: rgba(20, 20, 20, 0.2);
}
#use-case-3 .modal,
#use-case-4 .modal {
  display: block;
  height: 120px;
  width: 200px;
  margin: 0 auto;
  color: var(--primary);
  background-color: var(--tertiary);
}
@media (min-width: 688px) {
  .content ul {
    padding: var(--spacing-unit-x2) var(--spacing-unit-x5);
  }
}