.article-post {
  position: relative;
}
.interaction {
  position: absolute;
  right: 0;
  width: fit-content;
  padding: 0;
  grid-template-columns: 1fr;
}
.interaction .return {
  display: none;
}
.article__data {
  padding: var(--spacing-unit) 0;
}
/*----Form----*/
.newsletter {
  height: 260px;
  padding-bottom: 0;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
}
.subscribe {
  width: 560px;
}