body {
  position: relative;
}
/*----Skip-Links*/
.skip a {
  position: absolute;
  top: 20px;
  left: 20px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.skip a:focus {
  width: auto;
  height: auto;
  padding: 20px;
  border: 12px;
  display: flex;
  font-size: var(--font-l);
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--secondary);
  z-index: 1;
}
/*----Menu----*/
.menu-float {
  z-index: 1;
}
.article-post {
  width: 100%;
  max-width: 800px;
  margin-bottom: var(--spacing-unit-x4);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  margin: 0 auto;
}
/*----Interaction----*/
.interaction {
  width: 100%;
  padding: var(--spacing-unit-x3);
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.interaction .return {
  position: relative;
  margin: 0 auto 0 0;
  font-size: var(--font-xxl);
  text-decoration: none;
  color: var(--tertiary);
  transform: rotate(180deg);
  z-index: -1;
}
.interaction__list {
  width: fit-content;
  list-style: none;
  font-size: var(--font-l);
}
.like-dislike,
.share {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit-x3);
  margin: 0 0 0 auto;
}
.like-dislike .like--active,
.like-dislike .dislike--active {
  color: var(--tertiary);
}
.interaction .button,
.like, 
.dislike {
  border: none;
  font-size: var(--font-xxl);
  color: var(--tertiary);
  background-color: transparent;
  cursor: pointer;
}
/*----Article----*/
.article__header {
  width: 100%;
  height: auto;
  padding: 0 var(--spacing-unit-x3);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit-x3);
}
.article__data {
  width: max-content;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-xs);
}
.article__data span {
  padding: 0 var(--spacing-unit);
}
.article__header .article__title{
  margin: var(--spacing-unit-x2) 0 var(--spacing-unit-x3);
  font-size: var(--font-xl);
  font-weight: 600;
  color: var(--tertiary);
}
.article__tags {
  width: 100%;
  margin: 0 auto;
}
.article__title {
  width: 100%;
  text-align: center;
}
.article-post .article {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-x2) 0;
}
.content {
  width: 100%;
  padding: 0 var(--spacing-unit-x3);
}
/*----Form----*/
.newsletter {
  width: 100%;
  height: 480px;
  padding: var(--spacing-unit-x3);
  display: grid;
  grid-template-rows: repeat(2, min-content);
  place-items: center;
  align-content: center;
  background-color: var(--primary-alter);
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}
.newsletter .subtitle {
  text-align: center;
}
.subscribe {
  width: 240px;
  margin: var(--spacing-unit-x3) auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit-x3);
}
.subscribe .gap {
  width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
}
.subscribe__title {
  width: fit-content;
  font-size: var(--font-m);
}
.subscribe__item{
  width: 100%;
  height: 38px;
  padding: 0 var(--spacing-unit-x2);
  border: 2px solid var(--secondary-alter);
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--secondary);
}
/*----More-Articles*/
.more-articles {
  max-width: 996px;
  padding: var(--spacing-unit-x4) var(--spacing-unit-x3);
  border-top: 1px solid var(--secondary-alter);
}
.articles-container {
  padding: var(--spacing-unit-x3) 0;
}
/*----Modal----*/
.link {
  position: relative;
}
.modal-copy {
  position: absolute;
  bottom: -40px;
  padding: var(--spacing-unit);
  border: none;
  border-radius: 8px;
  color: var(--primary);
  font-size: var(--font-xs);
  background-color: var(--secondary);
}

.social-media__link {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}