/*----Header----*/
.navbar-list__link {
  font-size: var(--font-m);
}
.logo {
  font-size: var(--font-xxl);
}
/*----Articles----*/
.articles-container .article {
  width: 32%;
}

/*----Footer----*/
.footer {
  height: 240px;
  margin-top: var(--spacing-unit-x4);
}
.footer-container {
  height: 100%;
  place-content: center;
}
.footer .greetings {
  font-size: var(--font-s);
}
.menu-list__title {
  font-size: var(--font-l);
}
.menu-list__link {
  font-size: var(--font-s);
}
.footer .license {
  font-size: var(--font-xs);
  padding-top: var(--spacing-unit-x4);
  pointer-events: none;
}