/*----Header----*/
.navbar-list__link {
  font-size: var(--font-m);
}
.logo {
  font-size: var(--font-xxl);
}
/*----Articles----*/
.articles-container .article {
  width: 32%;
}

/*----Footer----*/
.footer {
  height: 240px;
  margin-top: var(--spacing-unit-x4);
}
.footer-container {
  height: 100%;
  place-content: center;
}
.footer .greetings {
  font-size: var(--font-s);
}
.menu-list__title {
  font-size: var(--font-l);
}
.menu-list__link {
  font-size: var(--font-s);
}
.footer .license {
  padding-top: var(--spacing-unit-x4);
  pointer-events: none;
}
/*----Projects----*/
.project {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
}
.project__description {
  padding: 0 var(--spacing-unit-x4);
}
/*----Buttons----*/
.primary-button {
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.primary-button:hover,
.primary-button:focus {
  transform: scale3d(1.07,1.07,1.07);
}