/*----Variables----*/
:root {
  --primary: #171b27;
  --primary-alter: #1F2333;
  --primary-shadow: #07090D;
  --secondary: #d9dce8;
  --secondary-alter: #A6ADC9;
  --tertiary: #a882dd;
  --button-primary: #b9e649;
  --button-primary-shodw: #272E0F;
  --button-secondary: #F0F7EE;
  --font-xs: 1.4rem;
  --font-s: 1.6rem;
  --font-m: 1.8rem;
  --font-l: 2.2rem;
  --font-xl: 2.6rem;
  --font-xxl: 3rem;
  --spacing-unit: 8px;
  --spacing-unit-half: 4px;
  --spacing-unit-x2: 16px;
  --spacing-unit-x3: 24px;
  --spacing-unit-x4: 32px;
  --spacing-unit-x5: 40px;
}
.light-mode {
  --primary: #D9DCE8;
  --primary-alter: #A6ADC9;
  --primary-shadow: #464F72;
  --secondary: #171B27;
  --secondary-alter: #1F2333;
  --tertiary: #1F2333;
  --button-primary: transparent;
  --button-primary-shodw: #b9e649;
  --button-secondary: #171b27;
}
/*----Global----*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
body {
  background-color: var(--primary);
  color: var(--secondary);
}

html {
  scrollbar-color: var(--secondary-alter) var(--primary-alter);
  scrollbar-width: 12px;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 12px;
  padding: 8px;
}
body::-webkit-scrollbar-track {
  background-color: var(--primary-alter);
  border-radius: 8px;
  margin: 14px;
}
body::-webkit-scrollbar-thumb {
  border: 3px solid var(--primary-alter);
  border-radius: 8px;
  margin: 8px;
  background-color: var(--secondary-alter);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}
/*----Header----*/
.header {
  position: relative;
  width: 100%;
  max-width: 1118px;
  height: 88px;
  padding: 0 var(--spacing-unit-x3);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:center;
  align-content: center;
  color: var(--secondary);
}
.logo {
  width: auto;
  font-size: var(--font-xl);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--secondary);
}
/*---Menu---*/
.navbar {
  position: fixed;
  top: 20px;
  right: 24px;
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  background-color: var(--primary);
  box-shadow: 0px 2px 6px var(--primary-shadow);
  z-index: 1;
}
.menu {
  border: none;
  font-size: 20px;
  color: var(--secondary);
  background-color: transparent;
}
.menu--inactive {
  display: none;
}
.navbar .menu-float {
  display: none;
  position: fixed;
  top: 20px;
  left: 5%;
  width: 90%;
  height: auto;
  padding: var(--spacing-unit-x2) var(--spacing-unit-x3);
  border-radius: 14px;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-alter);
  box-shadow: 0px 1px 8px var(--primary-shadow);
}
.navbar .menu-float--active {
  display: flex;
}
.menu-float__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-float__title {
  font-size: var(--font-l);
  font-weight: 600;
  text-decoration: underline;
  color: var(--tertiary);
}
.menu-float__icons .icon {
  width: 18px;
  border: none;
  margin-left: var(--spacing-unit-x3);
  margin-right: 3px;
  font-size: var(--font-m);
  color: var(--tertiary);
  background-color: transparent;
}
.navbar-list {
  width: 100%;
  max-width: 360px;
  margin: var(--spacing-unit-x2) 0;
  margin-top: var(--spacing-unit-x4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-unit-x3);
  list-style: none;
}
.navbar-list__link {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit-half);
  font-size: var(--font-s);
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary);
}
.navbar-list__link span {
  font-size: var(--font-xl);
}
/*----Main----*/
.main {
  display: grid;
  place-items: center;
}
/*----Subtitle----*/
.subtitle {
  width: 100%;
  font-size: var(--font-l);
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--tertiary);
}
/*----Buttons----*/
.primary-button,
.secondary-button {
  width: fit-content;
  padding: 5px var(--spacing-unit);
  border-radius: 14px;
  margin: auto;
  margin-right: 0;
  font-size: var(--font-s);
  font-weight: 500;
  text-decoration: none;
}
.primary-button {
  border: 2px solid var(--button-primary-shodw);
  color: var(--button-primary-shodw);
  background-color: var(--button-primary);
  box-shadow: 2px 4px 0px var(--button-primary-shodw);
}
.secondary-button {
  border: 2px solid var(--secondary-alter);
  margin: 0 auto;
  background-color: transparent;
  color: var(--secondary-alter);
  box-shadow: 2px 4px 0px var(--secondary-alter);
}
/*----Articles----*/
.container {
  width: 100%;
  min-width: 320px;
  max-width: 1000px;
  height: auto;
  padding: var(--spacing-unit-x5) 5%;
  margin-bottom: var(--spacing-unit-x4);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit-x3);
}
.articles-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 28px;
  column-gap: 18px;
}
.articles-container .article {
  width: 100%;
  height: auto;
  min-height: 480px;
  padding: var(--spacing-unit-x3);
  border-radius: 18px;
  background-color: var(--tertiary);
  display: grid;
  grid-template-rows: repeat(4, min-content) auto 44px;
  gap: var(--spacing-unit-x2);
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.articles-container .article:hover,
.articles-container .article:focus {
  transform: scale3d(1.03,1.03,1.01);
}
.articles-container .article__data {
  padding: var(--spacing-unit-x2);
  background-color: var(--primary-alter);
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-x2);
}
.tag-title {
  font-size: var(--font-s);
  font-weight: 500;
  color: var(--primary);
}
.article__tags,
.project__technologies {
  list-style: none;
  display: flex;
  gap: 18px;
}
.tag,
.tech {
  padding: 5px var(--spacing-unit);
  border-radius: 14%;
  border-radius: 7px;
  font-size: var(--font-xs);
  font-weight: 500;
}
.articles-container .article__title,
.project__title {
  font-size: var(--font-l);
  font-weight: 600;
  color: var(--primary);
}
.article__info {
  font-size: var(--font-s);
  color: var(--primary);
}
.articles-container .article__preview,
.project__description {
  font-size: var(--font-s);
  font-weight: 500;
  line-height: 24px;
  color: var(--primary);
  letter-spacing: 0.4px;
}
/*----Footer----*/
.footer {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: var(--spacing-unit-x3);
  padding-bottom: 0;
  border-top: 1px solid var(--tertiary);
}
.footer-container {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.footer .greetings {
  font-size: var(--font-m);
}
.footer .list{
  height: 40px;
  display: flex;
  justify-content: center;
  gap: var(--spacing-unit-x2);
  list-style: none;
}
.footer .list__link{
  font-size: var(--font-l);
  font-weight: 400;
  text-decoration: none;
  color: var(--tertiary);
}
.menu-list {
  width: 100%;
  max-width: 320px;
  margin: var(--spacing-unit) auto 0;
  list-style: none;
  text-align: start;
}
.menu-list__item {
  max-width: min-content;
  margin: 0 auto;
}
.menu-list__title {
  font-size: var(--font-l);
  font-weight: 600;
  text-align: center;
  color: var(--tertiary);
}
.menu-list__link {
  width: 88px;
  padding: var(--spacing-unit);
  display: inline-block;
  font-size: var(--font-s);
  font-weight: 400;
  text-decoration: none;
  color: var(--secondary-alter);
}
.footer .license {
  font-size: var(--font-s);
  margin-top: var(--spacing-unit-x2);
  color: var(--secondary-alter);
}
/*---Projects---*/
.projects-container {
  width: 100%;
}
.recent-projects {
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.recent-projects,
.projects-container {
  padding: 0;
}
.recent-projects .subtitle {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
}
.project-background {
  background-color: var(--tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.project {
  max-width: 1000px;
  margin: 0 auto;
  padding: var(--spacing-unit-x3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project__subtitle {
  font-size: var(--font-xs);
  color: var(--primary);
}
.project__banner {
  width: 90%;
  max-width: 360px;
}
.project__image {
  width: 100%;
  object-fit: contain;
}
.project__data {
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: var(--spacing-unit-x2);
  display: grid;
  grid-template-rows: repeat(3, min-content) auto 44px;
  justify-items: center;
  gap: 20px;
}
.project__description a {
  max-width: 440px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 700;
}
.project__buttons {
  height: 100%;
  display: flex;
  gap: 20px;
}
.project-background:nth-child(2) {
  height: 300px;
  height: 560px;
  background-color: transparent;
}
.project-background:nth-child(2) .project__title {
  color: var(--secondary);
}
.project-background:nth-child(2) .project__subtitle {
  color: var(--secondary);
}
.project-background:nth-child(2) .project__description {
  color: var(--secondary);
}
.project-background:nth-child(2) .project__description a {
  color: var(--secondary);
  font-weight: 700;
}
.project-background:nth-child(2) .primary-button {
  border: 2px solid var(--button-secondary);
  color: var(--button-secondary);
  background-color: transparent;
  box-shadow: 4px 4px 0px var(--button-secondary);
}
.project-background:nth-child(1),
.project-background:nth-child(3) {
  height: 800px;
  -webkit-clip-path: polygon(0 16%, 100% 0%, 100% 84%, 0% 100%);
  clip-path: polygon(0 16%, 100% 0%, 100% 84%, 0% 100%);
}
/*----Placeholder----*/
input::-webkit-input-placeholder,
input::placeholder,
textarea::-webkit-textarea-placeholder,
textarea::placeholder {
  color: var(--secondary-alter);
  opacity: 1;
  font-size: var(--font-s);
}
input, textarea {
  font-size: var(--font-s);
}
/*----Tags----*/
.js {
  background-color: #eecc32;
  color: #66411c;
  box-shadow: 6px 6px 0px #66411c;
}
.html {
  background-color: #df7184;
  color: #460B20;
  box-shadow: 6px 6px 0px #460B20;
}
.css {
  background-color: #5D7BEA;
  color: #120948;
  box-shadow: 6px 6px 0px #120948;
}
.react {
  background-color: #5AC1ED;
  color: #062837;
  box-shadow: 6px 6px 0px #062837;
}
.next-js {
  background-color: #fff;
  color: #292929;
  box-shadow: 6px 6px 0px #292929;
}
.git {
  background-color: #9BF391;
  color: #0F432D;
  box-shadow: 6px 6px 0px #0F432D;
}
/*----Social-Media----*/
.share .icon-link {
  font-size: var(--font-xxl);
}
.facebook {
  background-image: url('../../../assets/icons/facebook.svg');
}
.github {
  background-image: url('../../../assets/icons/github.svg');
}
.twitter {
  background-image: url('../../../assets/icons/twitter.svg');
}
.linkedin {
  background-image: url('../../../assets/icons/linkedin.svg');
}
.icon-sm,
.icon-link,
.footer .list__link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid var(--secondary-alter);
  border-radius: 50%;
  box-shadow: 3px 3px 0px var(--secondary-alter);
}
.footer .list__item,
.footer .list__link,
.share__item,
.share__link,
.icon-sm,
.icon-link {
  width: 40px;
  height: 40px;
  display: block;
}