/*----Variables----*/
:root {
  --primary: #171b27;
  --primary-alter: #1F2333;
  --primary-shadow: #07090D;
  --secondary: #d9dce8;
  --secondary-alter: #A6ADC9;
  --tertiary: #a882dd;
  --font-xs: 1.4rem;
  --font-s: 1.6rem;
  --font-m: 1.8rem;
  --font-l: 2.2rem;
  --font-xl: 2.6rem;
  --font-xxl: 3rem;
  --spacing-unit: 8px;
  --spacing-unit-half: 4px;
  --spacing-unit-x2: 16px;
  --spacing-unit-x3: 24px;
  --spacing-unit-x4: 32px;
}
.light-mode {
  --primary: #D9DCE8;
  --primary-alter: #A6ADC9;
  --primary-shadow: #464F72;
  --secondary: #171B27;
  --secondary-alter: #1F2333;
  --tertiary: #5C2CA0;
}
/*----Global----*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Albert Sans', sans-serif;
}
body {
  background-color: var(--primary);
  color: var(--secondary);
}

html {
  scrollbar-color: var(--secondary-alter) var(--primary-alter);
  scrollbar-width: 12px;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 12px;
  padding: 8px;
}
body::-webkit-scrollbar-track {
  background-color: var(--primary-alter);
  border-radius: 8px;
  margin: 14px;
}
body::-webkit-scrollbar-thumb {
  border: 3px solid var(--primary-alter);
  border-radius: 8px;
  margin: 8px;
  background-color: var(--secondary-alter);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}
/*----Header----*/
.header {
  position: relative;
  width: 100%;
  max-width: 1118px;
  height: 88px;
  padding: 0 var(--spacing-unit-x3);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:center;
  align-content: center;
  color: var(--secondary);
}
.logo {
  width: auto;
  font-size: var(--font-l);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--secondary-alter);
}
/*---Menu---*/
.navbar {
  position: fixed;
  top: 20px;
  right: 24px;
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  background-color: var(--primary);
  box-shadow: 0px 2px 6px var(--primary-shadow);
  z-index: 1;
}
.menu {
  border: none;
  font-size: 20px;
  color: var(--secondary-alter);
  background-color: transparent;
}
.menu--inactive {
  display: none;
}
.navbar .menu-float {
  display: none;
  position: fixed;
  top: 20px;
  left: 5%;
  width: 90%;
  height: auto;
  padding: var(--spacing-unit-x2) var(--spacing-unit-x3);
  border-radius: 14px;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-alter);
  box-shadow: 0px 1px 8px var(--primary-shadow);
}
.navbar .menu-float--active {
  display: flex;
}
.menu-float__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-float__title {
  font-size: var(--font-l);
  font-weight: 600;
  text-decoration: underline;
  color: var(--tertiary);
}
.menu-float__icons .icon {
  width: 18px;
  border: none;
  margin-left: var(--spacing-unit-x3);
  margin-right: 3px;
  font-size: var(--font-m);
  color: var(--tertiary);
  background-color: transparent;
}
.navbar-list {
  width: 100%;
  max-width: 360px;
  margin: var(--spacing-unit-x2) 0;
  margin-top: var(--spacing-unit-x4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-unit-x3);
  list-style: none;
}
.navbar-list__link {
  width: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit-half);
  font-size: var(--font-s);
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary-alter);
}
/*----Main----*/
.main {
  display: grid;
  place-items: center;
}
/*----Subtitle----*/
.subtitle {
  width: 100%;
  font-size: var(--font-m);
  font-weight: 600;
  letter-spacing: 0.5px;
  color: var(--tertiary);
}
/*----Buttons----*/
.primary-button,
.secondary-button {
  border-radius: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
}
.primary-button {
  width: 88px;
  height: 28px;
  border: 1px solid var(--tertiary);
  justify-content: center;
  font-size: var(--font-xs);
  color: var(--tertiary);
}
.primary-button:hover,
.primary-button:focus {
  border: none;
  color: var(--primary);
  background-color: #a882dd;
}
.secondary-button {
  width: 122px;
  height: 32px;
  padding: 0 var(--spacing-unit-x2);
  font-size: 1.4rem;
  color: var(--primary);
  background-color: #a882dd;
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.secondary-button:hover,
.secondary-button:focus {
  transform: scale3d(1.06,1.06,1.06);
  box-shadow: 0px 4px 4px var(--primary-shadow);
}
/*----Articles----*/
.container {
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  height: auto;
  padding: var(--spacing-unit) var(--spacing-unit-x3);
  margin-bottom: var(--spacing-unit-x4);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit-x3);
}
.articles-container,
.projects-container {
  width: 100%;
  height: auto;
  padding: 0 var(--spacing-unit);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-unit-x3);
}
.articles-container .article {
  position: relative;
  width: 800px;
  min-width: 256px;
  height: auto;
  padding: 18px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.articles-container .article:hover,
.articles-container .article:focus {
  background-color: var(--primary-alter);
}
.articles-container .article__data {
  padding: var(--spacing-unit-x2);
  background-color: var(--primary-alter);
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-x2);
}
.article__head {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
}
.article .hyphen {
  display: none;
}
.article__tags,
.project__technologies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit);
  font-size: var(--font-s);
  color: var(--secondary-alter);
  list-style: none;
}
.articles-container .article__title,
.project__title {
  font-size: var(--font-l);
  font-weight: 600;
}
.article__info {
  font-size: var(--font-xs);
  color: var(--secondary-alter);
}
.articles-container .article__preview {
  font-size: var(--font-m);
  padding: 8px 0 28px;
}
.article .cta {
  position: absolute;
  right: 18px;
  bottom: 14px;
  font-size: var(--font-s);
  color: var(--tertiary);
  text-decoration: none;
}
.secondary-button {
  justify-content: space-between;
}
.secondary-button .icon-arrow-right {
  font-size: var(--font-m);
}
/*----Footer----*/
.footer {
  width: 100%;
  height: auto;
  padding: var(--spacing-unit-x3);
  border-top: 1px solid var(--tertiary);
}
.footer-container {
  gap: var(--spacing-unit);
  text-align: center;
}
.footer .greetings {
  font-size: var(--font-xs);
}
.footer .list{
  display: flex;
  justify-content: center;
  gap: var(--spacing-unit-x2);
  list-style: none;
}
.footer .list__link{
  font-size: var(--font-l);
  font-weight: 400;
  text-decoration: none;
  color: var(--tertiary);
}
.menu-list {
  max-width: 320px;
  margin: var(--spacing-unit) auto 0;
  padding: 0 var(--spacing-unit-x3);
  list-style: none;
  text-align: start;
}
.menu-list__title {
  font-size: var(--font-m);
  font-weight: 400;
  text-align: center;
  color: var(--tertiary);
}
.menu-list__link {
  width: 88px;
  padding: var(--spacing-unit);
  display: inline-block;
  font-size: var(--font-xs);
  font-weight: 400;
  text-decoration: none;
  color: var(--secondary-alter);
}
.footer .license {
  margin-top: var(--spacing-unit-x2);
  color: var(--secondary-alter);
}
/*---Projects---*/

.project {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: var(--spacing-unit-x2);
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--primary-alter);
}
.project__banner {
  width: 90%;
  height: auto;
  max-height: 233px;
  margin: var(--spacing-unit-x3) auto var(--spacing-unit);
  border-radius: 14px;
  overflow: hidden;
}
.project__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project__data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
}
.project__date {
  font-size: var(--font-xs);
  color: var(--secondary-alter);
}
.project__description {
  margin-top: var(--spacing-unit);
  font-size: var(--font-s);
  font-weight: 400;
}
.project__description a {
  color: var(--tertiary);
}
.project__buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-unit-x2);
}