.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-unit-x2);
}
.container .image {
  width: 260px;
  height: 260px;
  background-image: url('../../../assets/images/404.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.container .title {
  width: fit-content;
  font-size: 5rem;
  color: var(--tertiary);
}
.container .message {
  font-size: var(--font-m);
  text-align: center;
}

@media (min-width: 688px) {
  .container {
    padding: var(--spacing-unit);
  }
  .container .image {
    width: 360px;
    height: 360px;
  }
}