---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class='header__nav'>
		<h2 class="logo"><a href='/'>{SITE_TITLE}</a></h2>

		<ul>
			<HeaderLink href='/'>Portfolio</HeaderLink>
			<HeaderLink href='/blog'>Blog</HeaderLink>
		</ul>
	</nav>
</header>
<style>
	header {
		position: sticky;
		top: 0;
		height: 3.4em;
		margin: 0;
		padding: 0em 1em;
		border-bottom: 1px solid var(--secondary-variation);
		display: flex;
		background: rgb(9, 11, 21, 0.5);
		background-image: url('../icons/noisy.webp');
		backdrop-filter: blur(10px);
		z-index: 1;
	}
	.header__nav {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header__nav ul {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		font-size: 1.15rem;
		list-style: none;
	}
	.logo {
		margin: 0;
		font-size: 1.2em;
	}
	.logo a {
		text-decoration: none;
		color: var(--secondary);
	}
	.header__nav a {
		padding: 0.4em 1em;
		color: var(--secondary);
		text-decoration: none;
	}
	.header__nav [aria-current='page'] {
		position: relative;
		/* color: #059D8A; */
		font-weight: 500;
	}
	.header__nav [aria-current='page']::before {
		content: '';
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		border: 1px solid var(--secondary-variation);
		border-radius: 22px;
		backdrop-filter: blur(16px);
		z-index: -1;
	}
	.header__nav [aria-current='page']::after {
		content: '';
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		border: 2px solid rgba(5, 157, 138, 0.5);
		border-radius: 22px;
		z-index: -2;
	}
	.header__nav [aria-current='page']:focus-visible {
		outline: 2px solid var(--secondary);
		border-radius: 4px;
	}
	@media (min-width: 720px) {
		header {
			padding-inline: 2em;
		}
		.header__nav ul {
			gap: 30px;
		}
	}
</style>
