---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="header__nav">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		position: sticky;
		top: 0;
		margin: 0;
		padding: 0.5em 1em;
		border-bottom: 1px solid var(--secondary-variation);
		backdrop-filter: blur(10px);
	}
	h2 {
		margin: 0;
		font-size: 0.9em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	.header__nav {
		font-size: 1.15rem;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5em 0.5em;
		color: var(--secondary);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	.header__nav,
	.header__nav a {
		display: flex;
		gap: 20px;
	}
	@media (max-width: 720px) {
		.header__nav {
			display: none;
		}
	}
</style>
