/*----Container----*/
.article-post {
  margin-top: var(--spacing-unit-x4);
  position: relative;
  max-width: 100%;
  grid-template-columns: 1fr 620px 1fr;
}
.interaction {
  grid-column: 1;
}
/*----Interaction----*/
.interaction .return {
  display: none;
}
.interaction {
  height: fit-content;
  position: sticky;
  top: 48px;
  border-top: 0;
  gap: var(--spacing-unit-x4);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  background-color: transparent;
}
/*----Form----*/
.newsletter {
  height: 260px;
  padding-bottom: 0;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
}
.subscribe {
  width: 560px;
}