/*----Container----*/
.article-post {
  margin-top: var(--spacing-unit-x4);
  position: relative;
  max-width: 100%;
  grid-template-columns: 1fr 620px 1fr;
}
.interaction {
  grid-column: 1;
}
/*----Interaction----*/
.interaction .return {
  display: none;
}
.interaction {
  height: fit-content;
  place-items: center;
  grid-template-columns: none;
  position: sticky;
  top: 48px;
  gap: var(--spacing-unit-x4);
}
.like-dislike {
  grid-area: 1 / 1 / 2 / 2;
}
.share {
  grid-area: 2 / 1 / 3 / 2;
}
.button {
  margin: 0;
}
/*----Form----*/
.newsletter {
  height: 320px;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}
.subscribe {
  width: 560px;
}