body {
  position: relative;
}
/*----Skip-Links*/
.skip a {
  position: absolute;
  top: 20px;
  left: 20px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.skip a:focus {
  width: auto;
  height: auto;
  padding: 20px;
  border: 12px;
  display: flex;
  font-size: var(--font-l);
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  background-color: var(--secondary);
  z-index: 1;
}
/*----Menu----*/
.menu-float {
  z-index: 1;
}
.article-post {
  width: 100%;
  max-width: 620px;
  margin-bottom: var(--spacing-unit-x4);
  display: grid;
  grid-template-rows: auto auto;
}
/*----Interaction----*/
.interaction {
  width: 100%;
  height: 280px;
  padding: 0 var(--spacing-unit-x3) var(--spacing-unit-x4);
  border-top: 1px solid var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit-x2);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  background-color: var(--primary-alter);
}
.interaction__title {
  font-size: var(--font-m);
}
.interaction .return {
  position: relative;
  margin: 0 auto 0 0;
  font-size: var(--font-xxl);
  text-decoration: none;
  color: var(--tertiary);
  transform: rotate(180deg);
  z-index: -1;
}
.interaction__list {
  list-style: none;
  font-size: var(--font-l);
}
.like-dislike,
.share {
  display: flex;
  gap: var(--spacing-unit-x3);
}
.like-dislike .like--active,
.like-dislike .dislike--active {
  color: var(--tertiary);
}
.interaction .button,
.like, 
.dislike {
  border: none;
  font-size: var(--font-xxl);
  color: var(--secondary-alter);
  background-color: transparent;
  cursor: pointer;
}
/*----Article----*/
.article-post .article {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-x3);
}
.article__text {
  width: 100%;
  padding: var(--spacing-unit-x3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-x2);
}
.article__text .article__title{
  font-size: var(--font-xl);
  font-weight: 600;
}
.article__content p {
  font-size: var(--font-m);
  font-weight: 400;
  line-height: 28px;
  color: var(--secondary-alter);
  padding: var(--spacing-unit-x2) 0;
}
.article__content strong {
  color: var(--secondary);
}
.article__content h2 {
  font-size: var(--font-l);
}
/*----Form----*/
.newsletter {
  width: 100%;
  height: 480px;
  padding: var(--spacing-unit-x3);
  display: grid;
  grid-template-rows: repeat(2, min-content);
  place-items: center;
  align-content: center;
  background-color: var(--primary-alter);
  -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}
.newsletter .subtitle {
  text-align: center;
}
.subscribe {
  width: 240px;
  margin: var(--spacing-unit-x3) auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit-x3);
}
.subscribe .gap {
  width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
}
.subscribe__title {
  width: fit-content;
  font-size: var(--font-m);
}
.subscribe__item{
  width: 100%;
  height: 38px;
  padding: 0 var(--spacing-unit-x2);
  border: 2px solid var(--secondary-alter);
  border-radius: 6px;
  background-color: var(--primary);
  color: var(--secondary);
}
/*----More-Articles*/
.more-articles {
  max-width: 996px;
  padding: var(--spacing-unit-x4) var(--spacing-unit-x3);
  border-top: 1px solid var(--secondary-alter);
}
.articles-container {
  padding: var(--spacing-unit-x3) 0;
}
/*----Modal----*/
.link {
  position: relative;
}
.modal-copy {
  position: absolute;
  bottom: -40px;
  padding: var(--spacing-unit);
  border: none;
  border-radius: 8px;
  color: var(--primary);
  font-size: var(--font-xs);
  background-color: var(--secondary);
}