/*----Baner----*/
.baner {
  width: 100%;
  height: 70vw;
  max-height: 400px;
  display: grid;
  place-items: center;
}
.baner .title {
  width: 90%;
  max-width: 480px;
  height: auto;
  border-radius: 8px;
  font-size: var(--font-l);
  font-weight: 400;
  text-align: center;
}
.baner .title strong {
  font-weight: 600;
  color: var(--secondary);
  color: var(--tertiary);
}
/*----Skills----*/
.skills {
  width: 100%;
  max-width: 1012px;
  height: auto;
  margin: 0 auto;
  padding: 0 var(--spacing-unit-x4);
  display: grid;
  gap: var(--spacing-unit-x2);
}
.skills__container {
  width: 100%;
  min-width: 256px;
  max-width: 639px;
  height: auto;
  margin: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  grid-auto-rows: 128px;
  place-items: center;
}
.skill {
  text-align: center;
}
.skill__icon {
  font-size: 48px;
}
.skill__title {
  font-size: var(--font-m);
  font-weight: 400;
  margin-top: var(--spacing-unit);
}