/*----Header----*/
.header-container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  ". header";
}
.header {
  grid-area: header;
  width: 80%;
  padding: 0;
  margin: 0 auto 0 0;
}
.navbar {
  width: fit-content;
}
/*----Main----*/
.main {
  padding-top: var(--spacing-unit-x5);
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "aside main";
}
/*----Aside----*/
.aside {
  grid-area: aside;
  margin: 0 0 auto;
  padding: var(--spacing-unit-x2) var(--spacing-unit-x5);
}
.main-content {
  grid-area: main;
  /* padding-right: 0; */
}

.skills__container {
  max-width: 639px;
  margin: 0 auto;
  color: rgb(20, 214, 20);
}
.project__image {
  width: 400px;
  height: 252px;
}