.logo {
  font-size: var(--font-xxl);
}
.hero {
  padding: calc(var(--spacing-unit-x4) * 2) var(--spacing-unit-x4);
  align-items: center;
  justify-content: space-between;
}
.hero__title {
  width: 50vw;
  /* min-width: 550px; */
  max-width: 550px;
  text-align: start;
  order: 1;
}
.hero__img {
  width: 320px;
  height: 320px;
  order: 2;
}
.footer {
  margin-top: var(--spacing-unit-x4);
}