.hero {
  width: 100%;
  max-width: 1012px;
  height: auto;
  padding: var(--spacing-unit-x4);
  margin-bottom: var(--spacing-unit-x3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-unit-x3);
}
.hero__img {
  width: 200px;
  height: 200px;
  background-image: url('../assets/images/plant.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  font-size: var(--font-xl);
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
}
.hero strong {
  color: var(--tertiary);
}
.project {
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: var(--spacing-unit-x2);
  border-radius: 14px;
  overflow: hidden;
  background-color: var(--primary-alter);
}
.project__banner {
  width: 90%;
  height: auto;
  max-height: 233px;
  margin: var(--spacing-unit-x3) auto var(--spacing-unit);
  border-radius: 14px;
  overflow: hidden;
}
.project__image {
  width: 100%;
  object-fit:fill;
}
.project__data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
}
.project__date {
  font-size: var(--font-xs);
  color: var(--secondary-alter);
}
.project__technologies {
  list-style: none;
}
.project__description {
  margin-top: var(--spacing-unit);
  font-size: var(--font-s);
  font-weight: 400;
}
.project__description a {
  color: var(--tertiary);
}
.project__buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-unit-x2);
}
