.main {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  margin: 0 auto;
}
.aside {
  margin: 0 0 auto;
  padding: var(--spacing-unit-x2);
}
.main-content {
  width: 100%;
}
/*----Aside----*/
.aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit-x3);
}
.photo {
  width: 180px;
  height: 180px;
  border: 4px solid var(--tertiary);
  border-radius: 50%;
  background-image: url('./../assets/images/profile-picture.jpg');
  background-size: cover;
}
.contact__title,
.cv__title {
  font-size: var(--font-m);
  text-align: center;
  color: var(--tertiary);
}
.social-media {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  list-style: none;
}
.social-media__link {
  width: 40px;
  height: 40px;
  display: block;
  background-size: cover;
}
.linkedin {
  background-image: url('./../assets/icons/linkedin.svg');
}
.github {
  background-image: url('./../assets/icons/github.svg');
}
.twitter {
  background-image: url('./../assets/icons/twitter.svg');
}
/*----ABout----*/
.text {
  font-size: var(--font-s);
  line-height: 26px;
  letter-spacing: 0.5px;
  max-width: 800px;
}
.goals ul {
  padding: 0 40px;
  font-size: var(--font-s);
  line-height: 26px;
  letter-spacing: 0.5px;
}
/*----Skills----*/
.section {
  width: 100%;
  max-width: 1000px;
  height: auto;
  padding: var(--spacing-unit-x3);
  display: grid;
  gap: var(--spacing-unit-x2);
}
.skills__container {
  width: 100%;
  height: auto;
  margin: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
  grid-auto-rows: 108px;
  place-items: center;
  column-gap: var(--spacing-unit-x3);
  list-style: none;
}
.skill {
  width: 114px;
  height: 90%;
  text-align: center;
  border-radius: 14px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 0.6px;
}
.skill__title {
  border: none;
  font-size: var(--font-m);
  margin-top: var(--spacing-unit);
  transition: all .3s cubic-bezier(0,0,.5,1);
}
.skill__title:hover {
  transform: scale3d(1.07,1.07,1.07);
}
/*----Form----*/
.form-container {
  width: 100%;
  height: auto;
}
.form-container .title {
  width: fit-content;
  font-size: var(--font-l);
  font-weight: 600;
  color: var(--tertiary);
}
.form-container .text {
  margin: var(--spacing-unit-x3) 0;
  font-size: var(--font-s);
  line-height: var(--font-l);
}
.text strong {
  font-weight: 600;
  color: var(--tertiary);
}
.contact {
  max-width: 556px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-unit-x2);
}
.contact .name {
  max-width: 270px;
}
.contact .email {
  max-width: 270px;
}
.contact .item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact .secondary-button {
  cursor: pointer;
}
.item__title {
  font-size: var(--font-m);
  font-weight: 600;
  margin-bottom: var(--spacing-unit);
}
.item__input {
  height: 38px;
  padding: 0 var(--spacing-unit-x2);
  border: 2px solid var(--secondary-alter);
  border-radius: 6px;
  background-color: var(--primary-alter);
  color: var(--secondary);
}
.message .item__input {
  height: auto;
  min-height: 300px;
  line-height: var(--font-m);
  padding: var(--spacing-unit-x2);
}
.item__input::-webkit-input-placeholder,
.item__input::placeholder {
  color: var(--secondary-alter);
  opacity: 1;
}
.contact .primary-button {
  margin: auto;
}
/*----Modal----*/
.section {
  position: relative;
}
.modal {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 260px;
  height: 140px;
  border-radius: 14px;
  border: none;
  background-color: var(--secondary);
}
.modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.succesful .modal__icon {
  color: green;
}
.error .modal__icon {
  color: red;
}
.modal__icon {
  font-size: var(--font-xxl);
}
.modal__title {
  font-size: var(--font-m);
}
/*----CV----*/
.cv {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-x2);
}