.hero {
  width: 100%;
  max-width: 1012px;
  height: auto;
  padding: var(--spacing-unit-x4);
  margin-bottom: var(--spacing-unit-x3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-unit-x3);
}
.hero__img {
  width: 200px;
  height: 200px;
  background-image: url('../assets/images/plant.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__title {
  font-size: var(--font-xl);
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
}
.hero strong {
  color: var(--tertiary);
}